<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-loading
    *ngIf="carregando"
    [isOpen]="true"
    message="Carregando..."
  />

  <div id="conteudo">

    <h1>Digite suas informações</h1>

    <form id="login-form" [formGroup]="cadastroForm" (ngSubmit)="login()">
      <ion-item class="input-border">
        <ion-input formControlName="cpf" label="CPF:" type="number" placeholder="000.000.000-00"></ion-input>
      </ion-item>

      <ion-item class="input-border baixo">
        <ion-input formControlName="senha" label="Senha:" type="password" ></ion-input>
      </ion-item>

      <ion-button type="submit" [disabled]="cadastroForm.invalid">
        <span style="margin-right: 10px;">Salvar</span>
        <ion-icon icon="save-outline"/>
      </ion-button>
    </form>

    <h5>Suas informações irão ficar armazenadas localmente no telefone!</h5>

  </div>
</ion-content>
