<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Visualização
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline" color="#999999"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-loading
    [isOpen]="carregando"
    message="Carregando..."
  />

  <!-- Não logado -->
  <div *ngIf="!logado" id="login">
    <h2>Faça login para ver as faltas</h2>
    <ion-button [routerLink]="['/auth']">Logar <ion-icon icon="log-in-outline" /></ion-button>
  </div>

  <!-- logado -->
  <div *ngIf="logado" id="logado">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="card-container">
      <ion-card class="custom-card">
        <ion-card-header>
          <ion-card-title>{{diaHoje}}</ion-card-title>
          <ion-card-subtitle>Hoje</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <p>📚 <strong>Matérias:</strong> {{materiasHoje}}</p>
          <p>🚦 <strong>Faltas restantes:</strong> ✅ {{getFaltasHj()}}</p>
        </ion-card-content>
      </ion-card>

      <table class="content-table">
        <thead>
          <tr>
            <th>Matéria</th>
            <th>Faltas</th>
            <th>Pode Faltar</th>
            <th>Percentual</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let falta of data">
            <td>{{ falta.nomeMateria }}</td>
            <td>{{ falta.faltas }}</td>
            <td>{{ falta.podeFaltar }}</td>
            <td>{{ falta.percentual }}%</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</ion-content>


