<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Visualização
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-loading
  [isOpen]="carregando"
  message="Carregando..."
  />

  <!-- Não logado -->
  <div *ngIf="!logado" id="login">
    <h2>Faça login para ver as faltas</h2>
    <ion-button [routerLink]="['/auth']">Logar <ion-icon icon="log-in-outline" /></ion-button>
  </div>

  <!-- logado -->
  <div *ngIf="logado" id="logado">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <table class="content-table" style="width: 100%;">
      <thead>
        <tr>
          <th>Materia</th>
          <th>Faltas</th>
          <th>Pode Faltar</th>
          <th>Percentual</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let falta of data">
          <td>{{falta.nomeMateria}}</td>
          <td>{{falta.faltas}}</td>
          <td>{{falta.podeFaltar}}</td>
          <td>{{falta.percentual}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</ion-content>


