#login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
}

#login ion-button {
  width: 100%;
  max-width: 200px;
}

.content-table {
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  background-color: #1e1e1e; /* fundo geral da tabela */
  color: #e0e0e0; /* cor padrão do texto */
}

.content-table thead tr {
  background-color: #339CFF;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #333333;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #2a2a2a;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #339CFF;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #339CFF;
}
