#login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
}

#login ion-button {
  width: 100%;
  max-width: 200px;
}

.card-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; /* Centralizar */
}

.custom-card {
  // width: 100%;
  background-color: #1e1e1e; /* mesma cor de fundo da tabela */
  color: #e0e0e0; /* cor do texto */
}

.custom-card ion-card-header {
  text-align: center;
}

.custom-card ion-card-subtitle {
  margin-top: -10px;
  margin-bottom: 10px;
  letter-spacing: 5px;
  color: #ccc;
}

.custom-card ion-card-content p {
  margin: 5px 0;
}
